body
{
	background: #eee;
}
figure
{
	margin: 0;
}
section p
{
	margin: 0;
}
.About
{
	background: #fff;
	margin: .2em;
	overflow: hidden;
}
.About p
{
	margin: 0;
	padding: .2em;
	text-align: justify;
}
.About img
{
	border: 2px solid #464646;
	border-radius: 50%;
	float: left;
	margin: .2em;
	transition:.5s;
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transition:.5s;
}
.About img:hover
{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.Footer
{
	background: #434343;
	margin: .2em;
	text-align: center;
}
.Footer h3
{
	color: #aaa;
	font-size: .7em;
	margin: 0;
	padding: 0;
}
.Footer em
{
	color: #aaa;
	font-size: .7em;
	margin: 0;
	padding: 0;
}
.Footer h3:after
{
	content: " -";
}
.Footer h3:before
{
	content: "- ";
}
.Header
{
	background: #434343;
	color: white;
	margin: .2em;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}
.Header-figure img
{
	border: .2em solid #2d2d2d;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin: 2px 0 2px 2px;
}
.Header-me
{
	display: inline-block;
	font-size: 1.2em;
	/*margin: 2em 0 0;*/
}
.Header-object
{
	display: inline-block;
	float: right;
	margin: 2px 2px 2px 0;	
}
.Menu
{
	background: #878787;
	margin: .2em;
	position: relative;
	text-align: center;
}
.Menu ul
{
	margin: 0;
	padding: 0;
}
.Menu ul li
{
	background: #ff3b3b;
	border-radius: .5em;
	display: inline-block;
	height: 2em;
}
.Menu ul li a
{
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	line-height: 2em;
	margin: 0 .7em;
	padding: .43em .6em .45em .6em;
	text-decoration: none;
}
.Social
{
	background: #555;
	text-align: center;
	margin: .2em;
}
.Social-figure
{
	
	display: inline-block;
	margin: 1em 0;
	padding: 0;
	width: 30%;
}
.Social-figure a
{
	color: #fff;
	font-size: 3em;
	padding: .3em;
	text-decoration: none;
}
.Work
{
	background: #fff;
	margin: .2em;
}
.Work .Work-item:nth-child(even) .Work-image
{
	float: right;
	padding: .2em;
}
.Work-image
{
	float: left;
	padding: .2em;
}
.Work-image img
{
	border: 1px solid #ccc;
	border-radius: .5em;
}
.Work-imageDescription
{
	padding: .2em;
	text-align: justify;
}
.Work-item
{
	background: #878787;
	margin: .2em 0;
	overflow: hidden;
}
.Work-item:nth-child(even)
{
	background: #22BCE0;
}



