/* utilities */
.u-blocks
{
	margin: 0;
	padding: 0;
}

/* tags */
body
{
	background: #fff;
}
figure
{
	margin: 0;
}
section p
{
	margin: 0;
}

/* classes */
.About
{
}
.Footer
{

}
.Header
{

}
.Menu
{
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 40px;
}
.Menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.Menu ul li a
{
	background: #3498db;
	color: #fff;
	display: block;
	padding: .5em 0;
	text-decoration: none;
}
.Menu ul li a:hover
{
	background: #2980b9;
}
.Mobile
{
	background: blue;
	height: 40px;
	position: fixed;
	text-align: center;
	width: 40px;
}
.Mobile-icon
{
	color: #fff;
	display: block;
	font-size: 2em;
	height: 100%;
	line-height: 38px;
	text-decoration: none;
}
.Mobile-text
{
	float: left;
	margin-left: 10px;
}
.Mobile-title
{
	background: red;
	color: #fff;
	font-weight: 900;
	height: 40px;
	left: 40px;
	line-height: 40px;
	position: fixed;
	right: 0;
	text-align: center;
}
.Social
{

}
.Work
{

}
/* id's */


/* media queries */
