body
{
	background: #eee;
}
figure
{
	margin: 0;
}
section p
{
	margin: 0;
}
.About
{
	background: #fff;
	box-shadow: 0 8px 6px -6px black;
	margin: .2em .2em 1em .2em;
	overflow: hidden;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
}
.About p
{
	margin: 0;
	padding: .2em;
	text-align: justify;
}
.About img
{
	border-radius: 50%;
	float: left;
	margin: .2em;
}
.Footer
{
	background: #7f8c8d;
	box-shadow: 0 8px 6px -6px black;
	margin: .2em;
	padding: .2em 0;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
}
.Footer h3
{
	color: #ecf0f1;
	font-size: .7em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.Footer em
{
	color: #ecf0f1;
	font-size: .7em;
	margin: 0;
	padding: 0;
}
.Footer h3:after
{
	content: " -";
}
.Footer h3:before
{
	content: "- ";
}
.Header
{
	background: #2980b9;
	border-radius: 0 0 51% 7%;
	box-shadow: 0 8px 6px -6px black;
	color: white;
	margin: 0 .2em 1em .2em;
	overflow: hidden;
	position: relative;
	text-align: center;
	vertical-align: middle;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
}
.Header p
{
	font-family: 'La Belle Aurore', cursive;
	font-style: italic;
	margin: 0 0 0 5em;
	padding: 0 0 .5em 0;
	/* Safari */
	-webkit-transform: rotate(-4deg);
	/* Firefox */
	-moz-transform: rotate(-4deg);
	/* IE */
	-ms-transform: rotate(-4deg);
	/* Opera */
	-o-transform: rotate(-4deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.Header-me
{
	font-family: 'Playball', cursive;
	margin: 0;
	padding: 0;	
	text-shadow: 5px 4px 0 rgba(0, 0, 1, .5);
}
.Menu
{
	background: #2c3e50;
	box-shadow: 0 8px 6px -6px black;
	margin: .2em .2em 1em .2em;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
}
.Menu ul
{
	margin: 0;
	padding: 0;
}
.Menu ul li
{
	display: inline-block;
	height: 2em;
}
.Menu ul li:hover
{
	background: #34495e;
}
.Menu ul li a
{
	color: #ecf0f1;
	font-size: 1em;
	font-weight: normal;
	line-height: 2em;
	margin: 0 .7em;
	padding: .43em .6em .45em .6em;
	text-decoration: none;
}
.Section-title
{
	color: #ecf0f1;
	background: #555;
	border-radius: .3em;
	font-size: 1em;
	font-weight: normal;
	margin: 0 .2em;
	padding: .2em 1em;
}
.Section-title-about
{
	color: #ecf0f1;
	background: #2980b9;
	border-radius: .3em;
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	margin: 0 .2em;
	padding: .2em 1em;
}
.Social
{
	background: #bdc3c7;
	box-shadow: 0 8px 6px -6px black;
	text-align: center;
	margin: 0 .2em 1em .2em;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
}
.Social-facebook:hover 
{
	color: #3b5998;
	text-shadow: 5px 2px 0 rgba(0, 0, 1, 0.3);
}
.Social-figure
{
	
	display: inline-block;
	margin: 1em 0;
	padding: 0;
	width: 30%;
}
.Social-figure a
{
	color: #fff;
	font-size: 3em;
	padding: .3em;
	text-decoration: none;
}
.Social-github:hover 
{
	color: #000;
	text-shadow: 5px 2px 0 rgba(0, 0, 1, 0.3);
}
.Social-twitter:hover 
{
	color: #3498db;
	text-shadow: 5px 2px 0 rgba(0, 0, 1, 0.3);
}
.Work
{
	background: #fff;
	box-shadow: 0 8px 6px -6px black;
	margin: 0 .2em 1em .2em;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
}
.Work .Work-item:nth-child(even) .Work-image
{
	float: right;
	padding: .2em;
}
.Work-image
{
	float: left;
	padding: .2em;
}
.Work-image img
{
	border: 1px solid #95a5a6;
	border-radius: .5em;
}
.Work-imageDescription
{
	padding: .2em;
	text-align: justify;
}
.Work-item
{
	background: #ddd;
	box-shadow: 1px 2px 5px #888;
	margin: .2em 0 .7em 0;
	overflow: hidden;
	position: relative;
	-moz-box-shadow: 1px 2px 5px #888;
	-webkit-box-shadow: 1px 2px 5px #888;
}
.Work-item:nth-child(even)
{
	background: #ecf0f1;
	box-shadow: -1px 2px 5px #888;
	-moz-box-shadow: -1px 2px 5px #888;
	-webkit-box-shadow: -1px 2px 5px #888;
}
.Work-item .Work-itemDate
{
	color: #666;
	bottom: 0;
	font-size: .7em;
	margin: 0 .5em 0 0;
	position: absolute;
	right: 0;
}
.Work-item:nth-child(even) .Work-itemDate
{
	color: #666;
	left: 0;
	margin: 0 0 0 .5em;
}

